<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Usuário</title>
</head>
<body>
<h1>Detalhes do Usuário</h1>
<p><strong>ID:</strong> <span th:text="${usuario.id}"></span></p>
<p><strong>Nome:</strong> <span th:text="${usuario.nome}"></span></p>
<p><strong>Email:</strong> <span th:text="${usuario.email}"></span></p>
<p><strong>Pontuação Economia:</strong> <span th:text="${usuario.pontuacaoEconomia}"></span></p>
<a th:href="@{/usuarios/{id}/editar(id=${usuario.id})}">Editar</a>
<a th:href="@{/usuarios/{id}/excluir(id=${usuario.id})}">Excluir</a>
<a th:href="@{/usuarios}">Voltar à Lista</a>
</body>
</html>
