<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes da Conquista</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div th:insert="fragments/header :: header"></div>

<h1>Detalhes da Conquista</h1>

<div>
    <p><strong>ID:</strong> <span th:text="${conquista.id}"></span></p>
    <p><strong>Título:</strong> <span th:text="${conquista.titulo}"></span></p>
    <p><strong>Descrição:</strong> <span th:text="${conquista.descricao}"></span></p>
    <p><strong>Data da Conquista:</strong> <span th:text="${#temporals.format(conquista.dataConquista, 'dd/MM/yyyy')}"></span></p>
    <p><strong>ID do Usuário:</strong> <span th:text="${conquista.usuarioId}"></span></p>
</div>

<a th:href="@{/conquistas/{id}/editar(id=${conquista.id})}">Editar</a>
<a th:href="@{/conquistas/{id}/excluir(id=${conquista.id})}">Excluir</a>
<a th:href="@{/conquistas/usuario/{usuarioId}(usuarioId=${conquista.usuarioId})}">Voltar</a>
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
