<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Meta</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div th:insert="fragments/header :: header"></div>

<h1>Editar Meta</h1>

<form th:action="@{/metas/{id}(id=${meta.id})}" th:object="${meta}" method="post">
    <div>
        <label for="consumoAlvo">Consumo Alvo (kWh):</label>
        <input type="number" step="0.01" id="consumoAlvo" th:field="*{consumoAlvo}" />
        <div th:if="${#fields.hasErrors('consumoAlvo')}" th:errors="*{consumoAlvo}"></div>
    </div>
    <div>
        <label for="dataInicio">Data de Início:</label>
        <input type="date" id="dataInicio" th:field="*{dataInicio}" />
        <div th:if="${#fields.hasErrors('dataInicio')}" th:errors="*{dataInicio}"></div>
    </div>
    <div>
        <label for="dataFim">Data de Fim:</label>
        <input type="date" id="dataFim" th:field="*{dataFim}" />
        <div th:if="${#fields.hasErrors('dataFim')}" th:errors="*{dataFim}"></div>
    </div>
    <input type="hidden" th:field="*{usuarioId}" th:value="${meta.usuarioId}" />
    <button type="submit">Atualizar</button>
</form>

<a th:href="@{/metas/{id}(id=${meta.id})}">Voltar</a>
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
