<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes da Bandeira Tarifária</title>
</head>
<body>
<h1>Detalhes da Bandeira Tarifária</h1>

<div>
    <p><strong>ID:</strong> <span th:text="${bandeira.id}"></span></p>
    <p><strong>Tipo de Bandeira:</strong> <span th:text="${bandeira.tipoBandeira}"></span></p>
    <p><strong>Data de Vigência:</strong> <span th:text="${#dates.format(bandeira.dataVigencia, 'dd/MM/yyyy')}"></span></p>
</div>

<a th:href="@{/bandeiras-tarifarias/{id}/editar(id=${bandeira.id})}">Editar</a>
<a th:href="@{/bandeiras-tarifarias/{id}/excluir(id=${bandeira.id})}">Excluir</a>
<a th:href="@{/bandeiras-tarifarias}">Voltar</a>
</body>
</html>
